.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  padding: 0px 10%;
  background-color: white;
}
.navbar h2{
  margin-right: 340px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  color: black;
}

.navbar-link{
	font-size: 20px;
  margin: 20px;
	color: black;
	text-align: center;
	justify-content: right;
	border-radius: 10px;
  text-decoration: none;
}