h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
}

input[type=text], input[type=password], input[type=email] {
    font-family: 'Mulish', sans-serif;
    margin: 5px;
    font-size: 20px;
}

input[type=checkbox] {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.password-security {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    display: block;
    margin: 10px;
}

#password-visibility {
    margin-right: 20px;
}

#signin-button {
    display: block;
    margin: 10px auto;
    overflow: hidden;
    padding: 12px 28px;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

#signin-button:hover, #signin button-fade:focus, #signin button-fade:active {
    background-color: #2098D1;
    color: white;
}

.login-form {
    display: flex;
    align-items: center;
    margin-top: 200px;
    flex-direction: column;
    color: black;
    font-size: 20px;
}

#cta-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    align-self: center;
}

#site-manager {
    margin-right: 20px;
}

#data-entry {
    margin-right: 20px;
}

input[type=radio] {
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-right: 15px;
}

label {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    display: inline;
    margin: 5px;
}