
.site-manager-page{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-manager-page-header {
    margin-bottom: 20px;
    margin-top: 120px;
}

.site-manager-container {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.print-meals {
    margin-top: 20px;
    //background-color: #b7f8ac;
}

.site-manager-container2 {
    margin: 20px 50px;
    max-width: 95vw;
    overflow: auto;
}

.site-manager-container3 {
   margin: 20px 50px;
   max-width: 95vw;
   overflow: auto;
}

.site-manager-container input{
    padding: 10px;
    border: none;
    background: none;
    width: 100%;
}

.site-manager-container input:hover{
    padding: 10px;
    border: none;
    cursor: pointer;
}

.site-manager-container input:focus {
    outline: none !important;
    background: white;
    cursor: default;
    box-shadow: 0 0 15px #719ECE;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}