h2{
	color: black;
}

input[type=password] {
    font-family: 'Mulish', sans-serif;
}

.new-password-security {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: black;
    display: block;
    margin: 10px;
}

#password-visibility {
    margin-right: 20px;
}

#new-pwd-button {
	font-size: 16px;
	padding: 12px 28px;
}

#new-pwd-button:hover {
	background-color: #2098D1;
	color: white;
}

