#route-sidebar, .site-manager-sidebar {
    background-color: #b7f8ac;
    margin: 0px 40px;
    padding-bottom: 20px;
    border: solid 3px black;
    width: 280px;
    z-index: 3;
    float: left;
    max-height: 85vh;
    overflow-y: auto;
}

hr {
    border-top: 1px solid black
}

.route { 
    overflow: hidden;
    padding: 12px 28px;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    margin: 5px;
    width: 150px;
}

.route:hover, .route button-fade:focus, .route button-fade:active {
    background-color: #2098D1;
    color: white;
    cursor: pointer;
}
