
h2 {
    display: flex;
    align-items: center;
    
}

#signup-button {
    display: block;
    margin: 10px auto;
}

.signup-form {
    display: flex;
    align-items: center;
    margin-top: 200px;
    flex-direction: column;
    color: black;
    font-size: 20px;
}

#cta-type {
    display: flex;
    flex-direction: row;
    
}


#volunteer-type {
    display: flex;
    margin-right: 100px;
    font-size: 20px;
}