h2 {
    display: flex;
    align-items: center;
    
}

#signup-button {
    display: block;
    margin: 10px auto;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    color: black;
}
#cta-type {
    display: flex;
    flex-direction: row;
    
}

label {
    font-size: 20px;
}

#volunteer-type {
    display: flex;
    margin-right: 100px;
    font-size: 20px;
}